# ---- PostgreSQL (externo) ----
DB_URL=jdbc:postgresql://<ip-postgres>:5432/<nombre-db>
DB_USER=
DB_PASSWORD=

# ---- MQTT (externo) ----
MQTT_IP=
MQTT_PORT=
MQTT_TOPIC1=
MQTT_TOPIC2=
MQTT_QOS=

# ---- Backend ----
BACKEND_PORT=
BACKEND_IP=0.0.0.0
BACKEND_CONTEXT_PATH=

# ---- Frontend ----
FRONT_PORT=
ESP32_IP=
