# ---- PostgreSQL (externo) ----
DB_URL=jdbc:postgresql://<ip-postgres>:5432/<nombre-db>
DB_USER=
DB_PASSWORD=

# ---- MQTT (externo) ----
MQTT_BROKER=tcp://<ip-broker>:1883
MQTT_TOPIC1=tempyhum
MQTT_TOPIC2=luz
MQTT_QOS=0

# ---- Backend ----
BACKEND_PORT=8082
BACKEND_IP=0.0.0.0
BACKEND_CONTEXT_PATH=

# ---- Frontend ----
FRONT_PORT=8081
API_BASE_URL=http://<ip-del-servidor>:8082
CAMERA_STREAM_URL=http://<ip-esp32>:81/stream
